* {
    box-sizing: border-box;
}

body {
    background: black;
}

.header {
    color: white;
}

.container {
    width: 1000px;
    height: 330px;
    padding: 10px;
    margin: 0 auto;
    background: gray;
}

#title {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: red;
}

#question {
    padding: 20px;
    background: red;
}